@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  /*  background: rgb(59,73,198);
background: linear-gradient(90deg, rgba(59,73,198,1) 0%, rgba(226,20,34,1) 100%); */
  background: #ffff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container-item {
  margin-top: 4rem;
}

:is(.card-front, .card-back) {
  background: #ffff;

  box-shadow: 0 4px 30px rgba(6, 251, 255, 0.1);

  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  font-family: "Silkscreen", sans-serif;
  color: black;
  box-sizing: border-box;
}
h1[name="header__titulo"] {
  justify-content: center;
  text-align: center;
  backdrop-filter: blur(1px);
  font-size: 100pt;
  font-family: "Black Ops One", system-ui;
  color: black;
}

.header {
  border: 4px solid rgb(0, 0, 0);
  background: rgb(133, 19, 19);
  /*  background: rgb(123,167,232);
  background: linear-gradient(90deg, rgba(123,167,232,1) 29%, rgba(127,67,199,1) 70%, rgba(32,14,74,1) 100%); */
  padding: 1rem;
  backdrop-filter: blur(1px);
  font-size: 16pt;
  font-family: "Silkscreen", sans-serif;
  border-radius: 25px;
  margin-right: 100px;
  margin-left: 100px;
  color: #ffff;
  text-align: center;
}
.box-select {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-hiden{
  display: none;
}

#searchName {
  border-radius: 15px;
  width: 60px; /* Ancho del botón */
  height: 45px; /* Alto del botón */
  font-size: 18px;
  backdrop-filter: blur(1px);
  margin-left: 10px;
  background-color: rgba(188, 177, 177, 0.296);
  cursor: pointer;
  transition: transform 100ms ease-in-out;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(0, 0, 0);
  padding: 10px 0px;
}
#reset {
  
  background-repeat: no-repeat;
  background-position: 10px center;
  height: 45px;
  width: 60px;
  backdrop-filter: blur(1px);
  position: relative;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 100ms ease-in-out;
  margin-left: 10px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgba(188, 177, 177, 0.296);
}
#searchName:hover {
  transform: scale(1.1);
  
}
label[for="buscador"] {
  font-size: 35px;
  color: #ffff;
  margin-right: 10px;
}
#buscador {
  background:rgba(188, 177, 177, 0.296);
  font-size: 25px;
  backdrop-filter: blur(1px);
  width: 350px;
  height: 40px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px;
}

#statics {
  background-image: url(/src/data/img/stats-chart.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
  height: 45px;
  width: 60px;
  backdrop-filter: blur(1px);
  position: relative;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 100ms ease-in-out;
  margin-left: 10px;
  border: 2px solid rgb(0, 0, 0)
  background-color: rgba(188, 177, 177, 0.296);
}

.contenido-esta{
  
  bacbackground: #f9f9f9;
  width: 56vmin;
  height: 39vmin;
  border-radius: 15px;
  position: absolute;
  left: 58vmin;
  top: 18vmin;
  overflow: hidden;
  filter: invert(1);
}

#statics:hover {
  transform: scale(1.1);
}
select[name="select"] {
  text-align: center;
  background:rgba(188, 177, 177, 0.296);
  font-family: "Silkscreen", sans-serif;
  border: 2px solid rgb(0, 0, 0);
  backdrop-filter: blur(1px);
  
  display: flex;
  font-size: 15px;
  border-radius: 15px;
  width: 250px; /* Ancho del selector */
  height: 40px; /* Alto del selector */
  color: #000000;
}


select[name="sort-order"] {
  text-align: center;
  background:rgba(188, 177, 177, 0.296);
  font-family: "Silkscreen", sans-serif;
  border: 2px solid rgb(0, 0, 0);
  backdrop-filter: blur(1px);
  display: flex;
  font-size: 15px;
  border-radius: 15px;
  margin-left: 10px;
  width: 180px;
  height: 40px;
  color: #000000;
}

select[name="type-order"] {
  text-align: center;
  background: rgba(188, 177, 177, 0.296);
  font-family: "Silkscreen", sans-serif;
  border: 2px solid rgb(0, 0, 0);
  backdrop-filter: blur(1px);
  display: flex;
  font-size: 15px;
  border-radius: 15px;
  
  width: 220px;
  height: 40px;
  background-image: url(/src/data/img/game-controller.svg); /* Ruta del archivo de imagen del icono */
  background-repeat: no-repeat;
  background-position: 10px center; /* Ajusta la posición del icono */
 
  box-sizing: border-box;
  color: #000000;
}
.select {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.li_sta {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(249, 248, 248);
}

#iconos {
  position: fixed;
  top: 0%;
  left: 0%;
  transform: translate(-50%);
  transform-origin: center center;
}

.iconos {
  list-style: none;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  transform: rotate(-20deg);
}

.iconos li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconos li i {
  font-size: 3rem;
  color: rgba(188, 177, 177, 0.296);
  margin: 0.3rem;
  display: block;
  transition: all 0.5s;
}

.iconos li i:hover {
  color: var(--color);
  transition: all 100ms;
  text-shadow: 0px 0px 120px var(--color), 0px 0px 60px var(--color),
    0px 0px 30px white, 0px 0px 10px white;
}

.container-item {
  border: 4px solid rgb(0,0,0);
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: 100px;
  background: rgb(133, 19, 19);
  border-radius: 20px;
  margin-bottom: 100px;
  position: relative;
}

/*<i class="fi fi-ss-gamepad"></i>
<i class="fi fi-ss-bomb"></i>*
<i class="fi fi-ss-joystick"></i>
<i class="fi fi-sr-treasure-chest"></i>
<i class="fi fi-sr-dice-d12"></i>
<i class="fi fi-ss-dice-d6"></i> */

.titulo {
  font-size: 50px;
}

.container-item li {
  list-style: none;
  position: relative;
  transform-style: preserve-3d;
  transition: all 700ms;
  perspective: 600px;
  width: 450px;
  min-height: 570px;
}

.card-front {
  z-index: 0;
  border-radius: 8;
  padding: 10px;
  text-align: center;
  border: 4px solid rgb(0, 0, 0);
  backface-visibility: hidden;
  /*oculta la cara de atrás*/
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

.card-front__header {
  margin-bottom: 20px;
}

.card-front__header-image img {
  max-width: 100%;
  height: 250px;
  width: auto;
  transition: all 300ms;
}

.card-front h2 {
  font-size: 1.5em;
}

.card-front__content h2 {
  transition: all 300ms;
}
.card-front__content {
  height: 2rem;
  max-height: 2rem;
}

.card-front__footer {
  position: relative;
  transform: translateZ(5px);
}
.card-back__header-image,
.card-front__footer-image {
  background: #0a0a0a;
  clip-path: polygon(
    18% 15%,
    27% 15%,
    27% 23%,
    35% 24%,
    36% 32%,
    62% 32%,
    63% 24%,
    71% 24%,
    71% 15%,
    80% 14%,
    80% 23%,
    73% 24%,
    72% 32%,
    79% 33%,
    80% 40%,
    89% 41%,
    89% 49%,
    97% 50%,
    98% 76%,
    88% 77%,
    89% 59%,
    80% 59%,
    80% 76%,
    72% 77%,
    72% 84%,
    54% 85%,
    54% 77%,
    71% 76%,
    71% 69%,
    27% 68%,
    27% 76%,
    45% 77%,
    44% 85%,
    27% 85%,
    27% 77%,
    18% 77%,
    18% 59%,
    10% 59%,
    9% 76%,
    1% 77%,
    1% 50%,
    9% 50%,
    9% 42%,
    19% 41%,
    18% 33%,
    27% 33%,
    26% 24%,
    18% 23%,
    17% 14%,
    27% 41%
  );
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -100px;
  transition: all 300ms;
  /*rango de ms 100-500*/
  transform-origin: center center;
  transform: scale(0.5);
  cursor: pointer;
  z-index: 1;
  border-radius: 20%;
}
.card-back__header-image {
  position: absolute;
  right: -90px; /* Ajusta la posición derecha en lugar de izquierda */
  bottom: -520px; /* Ajusta la posición inferior en lugar de superior */
  top: auto; /* Elimina la propiedad top para que no interfiera con bottom */
  left: auto;

  /*  max-width: 100%;
  height: 250px;
  width: auto;
  transition: all 300ms; */
}

.card-back__header-image img,
.card-front__footer-image img {
  z-index: 2;
  width: 110%;
  transition: all 300ms;
  transform-origin: center center;
  transform: scale(0);
  filter: drop-shadow(0 0 4px);
  transition-delay: 50ms;
}
.card-front:hover .card-front__footer-image {
  /*is aplica los estilos a más de un elemento al mismo tiempo*/
  transform: scale(1);
  clip-path: none;
  border-radius: 50%;
}
.card-front:hover img {
  transform: scale(1);
}

.card-front:hover .card-front__header img {
  transform: scale(0);
}

.card-front:hover .card-front__content h2 {
  transform: scale(1.3) translateY(-100px);
  color: rgb(6, 6, 6);
  font-size: 30px;
  overflow: auto;
}

.card-back__header h2 {
  font-size: 1.5em;
}
.card-back__header {
  position: relative;
}

.card-back__header-image:hover {
  cursor: pointer;
  transform: scale(1);
  clip-path: none;
  border-radius: 50%;
}

.card-back__header-image:hover img {
  transform: scale(1);
}

.card-back {
  font-family: "Oswald", sans-serif;
  font-size: 12.5pt;
  padding: 2rem;
  text-align: justify;
  border: 4px solid rgb(0, 0, 0);
  position: absolute;
  left: 0;
  top: 0;
  transform: rotateY(180deg);
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 25px;
}

.card-back__details-description {
  border-radius: 25px;
  box-shadow: 0 0 0 2px;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 2px solid rgb(0, 0, 0);
}
.card-back__details-list {
  display: flex;
  flex-wrap: wrap;
}
.card--back-face {
  transform: rotateY(-180deg);
}
/* Estilos para la ventana emergente */
.popup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 20%;
  height: 50%;
  background-color: black;
  box-shadow: 0 0 40px rgba(231, 238, 8, 0.785);
}

.card-back__details-title {
  border-radius: 15px 0px 0px 15px;
  padding-inline-start: 1rem;
  box-sizing: border-box;
  color: rgb(136, 15, 15);
  width: 50%;
  height: 35px;
  border-left: 10px solid rgb(136, 15, 15);
  box-shadow: -1px 0 0 1px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.card-back__item {
  border-radius: 0px 15px 15px 0px;
  color: rgb(0, 0, 0);
  width: 50%;
  height: 35px;
  box-shadow: 1px 0 0 1px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

#blurBackground {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  backdrop-filter: blur(8px); /* Efecto de desenfoque */
  z-index: 999; /* Asegúrate de que esté por encima de otros elementos */
}
.content-text-popup {
  background: #ffff;
  border-radius: 10px;
  text-align: center;
  height: 100px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
}
/* Estilos para el contenido de la ventana emergente */
.popup-content {
  padding: 20px;
}

/* Estilos para el botón de cerrar */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: #ffff;
  width: 40px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.content-popup {
  max-width: 100%;
  max-height: 100%;
}
.imgPopup {
  overflow: hidden;
  height: 50%;
  width: 50%;
}


/*Histograma*/
#histograma {
  width: 39vmin !important;
  height: 39vmin !important;
  margin: auto;
  border: none;
  background-color: #f9f9f9;
}
.estadisticas {
  
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.3);
  border-radius: 8px;
  width: 80%;
  height: 70%;
  background-color: transparent;
  background-image: url(/data/img/fondopopup.png);
  background-size: 100%;
  justify-content: center;
  align-items: center;
  background-position: center;

}

.closeHistogram {
  position: absolute;
  cursor: pointer;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  top: 10px;
  right: 10px;
  background: #ffff;
}
